
    h1 {
        color:tomato;
    }
    img {
        width: 400px;
    }
    #thirdDiv {
        background-color: seagreen;
        height: 700px;
        width: 800px;
        padding: 50px;
        border: 10px solid blue;
        margin: 50px;
    }
    #spanId {
        font-size: 18px;
        margin: 50px;
    }